{{#bulma/bulma-card title=orgName}}
	{{#if isNew}}
		<div class="field">
			<label class="label">Name:</label>
			<div class="control">
				{{input class="input" value=name}}
			</div>
		</div>
		<div class="field">
			<label class="label">Org Type:</label>
			<div class="control">
				<div class="select" style="width:100%;">
					<select onchange={{action "orgTypeChange" value="target.value"}} style="width:100%;">
						<option value="sandbox">Sandbox</option>
						<option value="production">Production</option>
					</select>
				</div>
			</div>
		</div>
		<div style="margin-top:1.5em;">
			<div class="control">
				<button {{action "addNewOrg"}} class="button is-primary">Connect</button>
			</div>
		</div>
	{{else}}
		{{org.email}}
	{{/if}}
{{/bulma/bulma-card}}